//
//  BrokerB-Release.xcconfig
//  MultipleBuilds
//
//  Created by George Katsimardos on 9/1/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
APP_NAME = BrokerB
PRODUCT_BUNDLE_IDENTIFIER = com.brokerBbuild
BASE_URL = app.brokerb.dvcld.co
THEME_COLORS_FILE = brokerBThemeColors
