//
//  BrokerA-Release.xcconfig
//  MultipleBuilds
//
//  Created by George Katsimardos on 9/1/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
APP_NAME = BrokerA
PRODUCT_BUNDLE_IDENTIFIER = com.brokerAbuild
BASE_URL = app.brokera.dvcld.co
THEME_COLORS_FILE = brokerAThemeColors
